<a href="https://colab.research.google.com/github/rattakan06/rattakan06-229352-StatisticalLearning-or-Statistical-Learning-Labs./blob/main/lab02_data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Statistical Learning for Data Science 2 (229352)
#### Instructor: Donlapark Ponnoprat

#### [Course website](https://donlapark.pages.dev/229352/)

## Lab #2

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, roc_auc_score, roc_curve

# For Fashion-MNIST
from tensorflow.keras.datasets import fashion_mnist

# For 20 Newsgroups
from sklearn.datasets import fetch_20newsgroups
from sklearn.feature_extraction.text import TfidfVectorizer

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

## Part 1: Marketing Campaign Dataset - Manual Data Preprocessing & Logistic Regression

### Load the Marketing Campaign Dataset ([Data Information](https://archive.ics.uci.edu/dataset/222/bank+marketing))

The data is related with direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the product (bank term deposit) would be (`'yes'`) or not (`'no'`) subscribed.

In [ ]:
bank_url = 'https://raw.githubusercontent.com/donlap/ds352-labs/main/bank.csv'

df = pd.read_csv(bank_url, sep=';', na_values=['unknown'])
df = df.drop(["emp.var.rate", "cons.price.idx", "cons.conf.idx",	"euribor3m", "nr.employed"], axis=1)
print("Shape of the dataset:", df.shape)
df.head()

Shape of the dataset: (41188, 16)

   age        job  marital    education default housing loan    contact month day_of_week  duration  campaign  pdays  previous     poutcome   y
0   56  housemaid  married     basic.4y      no      no   no  telephone   may         mon       261         1    999         0  nonexistent  no
1   57   services  married  high.school     NaN      no   no  telephone   may         mon       149         1    999         0  nonexistent  no
2   37   services  married  high.school      no     yes   no  telephone   may         mon       226         1    999         0  nonexistent  no
3   40     admin.  married     basic.6y      no      no   no  telephone   may         mon       151         1    999         0  nonexistent  no
4   56   services  married  high.school      no      no  yes  telephone   may         mon       307         1    999         0  nonexistent  no

### Data Exploration

In [ ]:
print("--- Missing Values Count ---")
print(df.isnull().sum())

--- Missing Values Count ---
age               0
job             330
marital          80
education      1731
default        8597
housing         990
loan            990
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
y                 0
dtype: int64

In [ ]:
print("--- Unique Values for Categorical Columns ---")
for col in df.select_dtypes(include='object').columns:
    print(f"\n'{col}' unique values:")
    print(df[col].value_counts(dropna=False)) # Include NaN counts

--- Unique Values for Categorical Columns ---

'job' unique values:
job
admin.           10422
blue-collar       9254
technician        6743
services          3969
management        2924
retired           1720
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
NaN                330
Name: count, dtype: int64

'marital' unique values:
marital
married     24928
single      11568
divorced     4612
NaN            80
Name: count, dtype: int64

'education' unique values:
education
university.degree      12168
high.school             9515
basic.9y                6045
professional.course     5243
basic.4y                4176
basic.6y                2292
NaN                     1731
illiterate                18
Name: count, dtype: int64

'default' unique values:
default
no     32588
NaN     8597
yes        3
Name: count, dtype: int64

'housing' unique values:
housing
yes    21576
no     18622
NaN      990
Name: count, dtype: int64

'loan' unique values:
loan
no     33950
yes     6248
NaN      990
Name: count, dtype: int64

'contact' unique values:
contact
cellular     26144
telephone    15044
Name: count, dtype: int64

'month' unique values:
month
may    13769
jul     7174
aug     6178
jun     5318
nov     4101
apr     2632
oct      718
sep      570
mar      546
dec      182
Name: count, dtype: int64

'day_of_week' unique values:
day_of_week
thu    8623
mon    8514
wed    8134
tue    8090
fri    7827
Name: count, dtype: int64

'poutcome' unique values:
poutcome
nonexistent    35563
failure         4252
success         1373
Name: count, dtype: int64

'y' unique values:
y
no     36548
yes     4640
Name: count, dtype: int64

### Data Preprocessing

In [ ]:
# Map target variable 'y' to 0 (no) and 1 (yes)
df['y'] = # Write your code here


# Drop 'duration' due to data leakage


# Define features (X) and target (y)


# Split the data BEFORE any transformations


# Print data shape

SyntaxError: invalid syntax (ipython-input-1456573690.py, line 2)

We will apply `StandardScaler()`, `OrdinalEncoder()`, and `OneHotEncoder()` on a few selected columns.

**1. Numerical Feature: `age` and `campaign` (Standard Scaling)**

In [ ]:
num_cols_demo = ['age', 'campaign']

scaler = StandardScaler()

# Fit the scaler ONLY on the training data

**2. Ordinal Feature: `education` (Ordinal Encoding with Imputation)**

- **Imputation**

In [ ]:
ord_col_demo = ['education']

imputer_ord = SimpleImputer(strategy='most_frequent')

## Write your code here

- **Ordinal Encoding**

In [ ]:
education_categories = [
    'illiterate', 'basic.4y', 'basic.6y', 'basic.9y', 'high.school',
    'professional.course', 'university.degree', 'masters', 'doctorate'
]

In [ ]:
ordinal_encoder = OrdinalEncoder(categories=[education_categories])

## Write your code here

**3. Nominal Feature: `job` (One-Hot Encoding with Imputation)**

- **Imputation**

In [ ]:
nom_col_demo = ['job']

imputer_nom = SimpleImputer(strategy='most_frequent')
imputer_nom.fit(X_train[nom_col_demo])

X_train_imputed_nom_demo = imputer_nom.transform(X_train[nom_col_demo])
X_test_imputed_nom_demo = imputer_nom.transform(X_test[nom_col_demo])

- **Nominal Encoding**

In [ ]:
onehot_encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

## Write your code here

### **Exercise 1: Apply All Preprocessing & Train Logistic Regression**

Now, it's your turn to apply these preprocessing steps to *all* relevant columns and then train a Logistic Regression model.

**Instructions:**

1.  Look at the Variable Table in [this link](https://archive.ics.uci.edu/dataset/222/bank+marketing).
2. Make lists for `numerical_features`, `ordinal_features`, and `nominal_features`.
3. Preprocess the features. It is safer to make a copy of `X_train` using:
   ```
   X_train_copy = X_train.copy()
   X_test_copy = X_test.copy()
   ```
   and preprocess `X_train_copy` instead.

   **For nominal features, concat the one-hot encoded features using [`pd.concat(..., axis=1)`](https://pandas.pydata.org/docs/reference/api/pandas.concat.html) and drop the old nominal features from the dataframe.**
4. Train Logistic Regression on the preprocessed `X_train_copy` and `y_train`.
5. Evaluate the Model:
    *   Make predictions on the preprocessed `X_test_copy`.
    *   Print `classification_report` ([Documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html)). What are the accuracy, average precision, average recall, and average f1-score?

In [ ]:
# --- YOUR CODE FOR EXERCISE 1 STARTS HERE ---
df['y_new'] = df['y'].map({'no': 0, 'yes': 1})

df = df.drop('duration', axis=1)
y = df['y_new']
x = df.drop(['y', 'y_new'], axis=1)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

x_train_copy = x_train.copy()
x_test_copy = x_test.copy()

In [ ]:
num_cols_demo = ['age', 'campaign']
scaler = StandardScaler()
scaler.fit(x_train[num_cols_demo])
x_train_copy[num_cols_demo] = scaler.transform(x_train[num_cols_demo])
x_test_copy[num_cols_demo] = scaler.transform(x_test[num_cols_demo])

x_train_copy

            age           job   marital            education default housing loan    contact month day_of_week  campaign  pdays  previous     poutcome
4712  -0.766333    management    single    university.degree      no     yes   no  telephone   may         wed -0.572454    999         0  nonexistent
11185  0.002811  entrepreneur   married    university.degree     NaN     NaN  NaN  telephone   jun         thu -0.572454    999         0  nonexistent
29886  0.291240   blue-collar   married             basic.6y      no      no   no   cellular   apr         mon -0.200632    999         1      failure
36253 -0.862476      services   married             basic.9y      no     yes   no  telephone   jun         mon -0.572454    999         0  nonexistent
37200 -0.477904        admin.    single    university.degree      no     yes   no   cellular   aug         thu -0.572454    999         0  nonexistent
...         ...           ...       ...                  ...     ...     ...  ...        ...   ...         ...       ...    ...       ...          ...
29675 -0.670190   blue-collar   married          high.school      no      no   no   cellular   apr         mon -0.200632    999         2      failure
7918   1.444957        admin.  divorced                  NaN     NaN     yes   no  telephone   jun         mon -0.572454    999         0  nonexistent
33173  0.771955    technician  divorced             basic.9y     NaN     yes   no   cellular   may         tue -0.572454    999         1      failure
3937  -0.381761    technician   married    university.degree      no     yes   no  telephone   may         mon  0.171189    999         0  nonexistent
26004 -0.477904        admin.   married  professional.course      no      no   no   cellular   nov         wed -0.200632    999         0  nonexistent

[28831 rows x 14 columns]

In [ ]:
print("--- Missing Values Count ---")
print(x_train_copy.isnull().sum())

--- Missing Values Count ---
age               0
job             232
marital          62
education      1236
default        6006
housing         679
loan            679
contact           0
month             0
day_of_week       0
campaign          0
pdays             0
previous          0
poutcome          0
dtype: int64

In [ ]:
df

In [ ]:
ord_col_demo = ['education']
imputer_ord = SimpleImputer(strategy='most_frequent')
imputer_ord.fit(x_train[ord_col_demo])

x_train_copy[ord_col_demo] = imputer_ord.transform(x_train[ord_col_demo])
x_test_copy[ord_col_demo] = imputer_ord.transform(x_test[ord_col_demo])

In [ ]:
education_categories = [
    'illiterate', 'basic.4y', 'basic.6y', 'basic.9y', 'high.school',
    'professional.course', 'university.degree', 'masters', 'doctorate'
]

In [ ]:
ordinal_encoder = OrdinalEncoder(categories=[education_categories])
ordinal_encoder.fit(x_train_copy[ord_col_demo])

x_train_copy[ord_col_demo] = ordinal_encoder.transform(x_train_copy[ord_col_demo])
x_test_copy[ord_col_demo] = ordinal_encoder.transform(x_test_copy[ord_col_demo])

In [ ]:
x_train_copy[ord_col_demo]

       education
4712         6.0
11185        6.0
29886        2.0
36253        3.0
37200        6.0
...          ...
29675        4.0
7918         6.0
33173        3.0
3937         6.0
26004        5.0

[28831 rows x 1 columns]

In [ ]:
x_train_copy

In [ ]:
#norminal
nom_col_demo = ['job', 'marital', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'poutcome']
imputer_nom = SimpleImputer(strategy='most_frequent')
imputer_nom.fit(x_train[nom_col_demo])

x_train_imputed_nom_demo = imputer_nom.transform(x_train[nom_col_demo])
x_test_imputed_nom_demo = imputer_nom.transform(x_test[nom_col_demo])

x_train_copy[nom_col_demo] = x_train_imputed_nom_demo
x_test_copy[nom_col_demo] = x_test_imputed_nom_demo

feature_names = onehot_encoder.get_feature_names_out(nom_col_demo)

In [ ]:
x_train_imputed_nom_demo

In [ ]:
feature_names

In [ ]:
x_train_copy

In [ ]:
print("--- Missing Values Count ---")
print(x_train_copy.isnull().sum())
print(x_test_copy.isnull().sum())

--- Missing Values Count ---
age            0
job            0
marital        0
education      0
default        0
housing        0
loan           0
contact        0
month          0
day_of_week    0
campaign       0
pdays          0
previous       0
poutcome       0
dtype: int64
age            0
job            0
marital        0
education      0
default        0
housing        0
loan           0
contact        0
month          0
day_of_week    0
campaign       0
pdays          0
previous       0
poutcome       0
dtype: int64

In [ ]:
x_train_copy

In [ ]:
feature_names = onehot_encoder.get_feature_names_out(nom_col_demo)

x_train_encoded_array = onehot_encoder.transform(x_train_copy[nom_col_demo])
x_test_encoded_array = onehot_encoder.transform(x_test_copy[nom_col_demo])

x_train_copy_nom = pd.DataFrame(x_train_encoded_array, columns=feature_names,index=x_train_copy.index)

x_test_copy_nom = pd.DataFrame(x_test_encoded_array, columns=feature_names,index=x_test_copy.index)

In [ ]:
x_train_copy = pd.concat([x_train_copy.drop(nom_col_demo, axis=1), x_train_copy_nom], axis=1)
x_test_copy = pd.concat([x_test_copy.drop(nom_col_demo, axis=1), x_test_copy_nom], axis=1)

In [ ]:
x_train_copy

            age  education  campaign  pdays  previous  job_admin.  job_blue-collar  job_entrepreneur  job_housemaid  job_management  job_retired  job_self-employed  job_services  job_student  job_technician  job_unemployed  marital_divorced  marital_married  marital_single  default_no  default_yes  housing_no  housing_yes  loan_no  loan_yes  contact_cellular  contact_telephone  month_apr  month_aug  month_dec  month_jul  month_jun  month_mar  month_may  month_nov  month_oct  month_sep  day_of_week_fri  day_of_week_mon  day_of_week_thu  day_of_week_tue  day_of_week_wed  poutcome_failure  poutcome_nonexistent  poutcome_success
4712  -0.766333        6.0 -0.572454    999         0         0.0              0.0               0.0            0.0             1.0          0.0                0.0           0.0          0.0             0.0             0.0               0.0              0.0             1.0         1.0          0.0         0.0          1.0      1.0       0.0               0.0                1.0        0.0        0.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0              0.0              0.0              0.0              0.0              1.0               0.0                   1.0               0.0
11185  0.002811        6.0 -0.572454    999         0         0.0              0.0               1.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0               0.0              1.0             0.0         1.0          0.0         0.0          1.0      1.0       0.0               0.0                1.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0        0.0        0.0              0.0              0.0              1.0              0.0              0.0               0.0                   1.0               0.0
29886  0.291240        2.0 -0.200632    999         1         0.0              1.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0               0.0              1.0             0.0         1.0          0.0         1.0          0.0      1.0       0.0               1.0                0.0        1.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0              0.0              1.0              0.0              0.0              0.0               1.0                   0.0               0.0
36253 -0.862476        3.0 -0.572454    999         0         0.0              0.0               0.0            0.0             0.0          0.0                0.0           1.0          0.0             0.0             0.0               0.0              1.0             0.0         1.0          0.0         0.0          1.0      1.0       0.0               0.0                1.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0        0.0        0.0              0.0              1.0              0.0              0.0              0.0               0.0                   1.0               0.0
37200 -0.477904        6.0 -0.572454    999         0         1.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0               0.0              0.0             1.0         1.0          0.0         0.0          1.0      1.0       0.0               1.0                0.0        0.0        1.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0              0.0              0.0              1.0              0.0              0.0               0.0                   1.0               0.0
...         ...        ...       ...    ...       ...         ...              ...               ...            ...             ...          ...                ...           ...          ...             ...             ...               ...              ...             ...         ...          ...         ...          ...      ...       ...               ...                ...        ...        ...        ...        ...        ...        ...        ...        ...        ...        ...              ...              ...              ...              ...              ...               ...                   ...               ...
29675 -0.670190        4.0 -0.200632    999         2         0.0              1.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0               0.0              1.0             0.0         1.0          0.0         1.0          0.0      1.0       0.0               1.0                0.0        1.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0              0.0              1.0              0.0              0.0              0.0               1.0                   0.0               0.0
7918   1.444957        6.0 -0.572454    999         0         1.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0               1.0              0.0             0.0         1.0          0.0         0.0          1.0      1.0       0.0               0.0                1.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0        0.0        0.0              0.0              1.0              0.0              0.0              0.0               0.0                   1.0               0.0
33173  0.771955        3.0 -0.572454    999         1         0.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             1.0             0.0               1.0              0.0             0.0         1.0          0.0         0.0          1.0      1.0       0.0               1.0                0.0        0.0        0.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0              0.0              0.0              0.0              1.0              0.0               1.0                   0.0               0.0
3937  -0.381761        6.0  0.171189    999         0         0.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             1.0             0.0               0.0              1.0             0.0         1.0          0.0         0.0          1.0      1.0       0.0               0.0                1.0        0.0        0.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0              0.0              1.0              0.0              0.0              0.0               0.0                   1.0               0.0
26004 -0.477904        5.0 -0.200632    999         0         1.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0               0.0              1.0             0.0         1.0          0.0         1.0          0.0      1.0       0.0               1.0                0.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0              0.0              0.0              0.0              0.0              1.0               0.0                   1.0               0.0

[28831 rows x 45 columns]

In [ ]:
print("--- Missing Values Count ---")
print(x_train_copy.isnull().sum())
print(x_test_copy.isnull().sum())

--- Missing Values Count ---
age                     0
education               0
campaign                0
pdays                   0
previous                0
job_admin.              0
job_blue-collar         0
job_entrepreneur        0
job_housemaid           0
job_management          0
job_retired             0
job_self-employed       0
job_services            0
job_student             0
job_technician          0
job_unemployed          0
marital_divorced        0
marital_married         0
marital_single          0
default_no              0
default_yes             0
housing_no              0
housing_yes             0
loan_no                 0
loan_yes                0
contact_cellular        0
contact_telephone       0
month_apr               0
month_aug               0
month_dec               0
month_jul               0
month_jun               0
month_mar               0
month_may               0
month_nov               0
month_oct               0
month_sep               0
day_of_week_fri         0
day_of_week_mon         0
day_of_week_thu         0
day_of_week_tue         0
day_of_week_wed         0
poutcome_failure        0
poutcome_nonexistent    0
poutcome_success        0
dtype: int64
age                     0
education               0
campaign                0
pdays                   0
previous                0
job_admin.              0
job_blue-collar         0
job_entrepreneur        0
job_housemaid           0
job_management          0
job_retired             0
job_self-employed       0
job_services            0
job_student             0
job_technician          0
job_unemployed          0
marital_divorced        0
marital_married         0
marital_single          0
default_no              0
default_yes             0
housing_no              0
housing_yes             0
loan_no                 0
loan_yes                0
contact_cellular        0
contact_telephone       0
month_apr               0
month_aug               0
month_dec               0
month_jul               0
month_jun               0
month_mar               0
month_may               0
month_nov               0
month_oct               0
month_sep               0
day_of_week_fri         0
day_of_week_mon         0
day_of_week_thu         0
day_of_week_tue         0
day_of_week_wed         0
poutcome_failure        0
poutcome_nonexistent    0
poutcome_success        0
dtype: int64

In [ ]:
x_test_copy

In [ ]:
#model logistics regression
model = LogisticRegression(solver='saga')
model.fit(x_train_copy, y_train)
y_pred = model.predict(x_test_copy)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.91      0.98      0.94     10991
           1       0.61      0.19      0.29      1366

    accuracy                           0.90     12357
   macro avg       0.76      0.59      0.62     12357
weighted avg       0.87      0.90      0.87     12357

/usr/local/lib/python3.12/dist-packages/sklearn/linear_model/_sag.py:348: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

## Part 2: Fashion-MNIST Dataset - Image Classification

### Load Fashion-MNIST Dataset

The Fashion-MNIST dataset consists of 28x28 grayscale images of fashion items.

In [ ]:
(fm_X_train, fm_y_train), (fm_X_test, fm_y_test) = fashion_mnist.load_data()

print(f"Fashion-MNIST Train data shape: {fm_X_train.shape}")
print(f"Fashion-MNIST Train labels shape: {fm_y_train.shape}")
print(f"Fashion-MNIST Test data shape: {fm_X_test.shape}")
print(f"Fashion-MNIST Test labels shape: {fm_y_test.shape}")

In [ ]:
print(f"First image {fm_X_train[0]}")
print(f"First label {fm_y_train[0]}")

### Visualize Fashion-MNIST Images

Let's see what these images look like.

In [ ]:
fashion_mnist_class_names = [
    'T-shirt/top', 'Trouser', 'Pullover', 'Dress', 'Coat',
    'Sandal', 'Shirt', 'Sneaker', 'Bag', 'Ankle boot'
]

# Visualize the images
## Write your code here

### **Exercise 2: Preprocessing Images (Flatten and Scale)**

Images are 2D arrays (matrices of pixels) and pixel values are integers from 0-255. For Logistic Regression, we need:
*  **Flattening:** Convert each 28x28 image into a 1D array of 784 features.
*  **Scaling:** Normalize pixel values from [0, 255] to [0, 1].

**Instructions:**

1.   **Flatten:** Use the `.reshape()` method (see [documentation](https://numpy.org/doc/stable/reference/generated/numpy.ndarray.reshape.html)). For `fm_X_train_binary` (shape `(num_samples, 28, 28)`), you want to reshape it to `(num_samples, 28*28)`.
2.  **Scale:** Divide the flattened pixel values by 255.0 to get values between 0 and 1.
3.   **Train Logistic Regression:**
    *   Initialize `LogisticRegression(solver='saga')`. `saga` is a good solver when both number of samples and number of features are large.
    *   Fit the model on your *processed* `fm_X_train_scaled` and `fm_y_train`.
4.   **Make Predictions:** Use `predict()` to make predictions on the *processed* `fm_X_test_scaled`.
5.   **Print Classification Report:** Print `classification_report` ([Documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html)). What are the accuracy, average precision, average recall, and average f1-score?
6.   **Visualize Misclassifications:**
    *   Find the indices in `fm_X_test_binary` where your model made incorrect predictions (i.e., `fm_y_pred != fm_y_test`).
    *   Select 5 of these misclassified images.
    *   Plot these images (using `plt.imshow`). For each image, print its true label and its predicted label.

In [ ]:
# --- YOUR CODE FOR EXERCISE 2 STARTS HERE ---

## Part 3: 20 Newsgroups Dataset - Text Classification

### Load 20 Newsgroups Dataset

The 20 newsgroups dataset comprises around 18000 newsgroups posts on 20 topics.

In [ ]:
news_train = fetch_20newsgroups(subset='train', shuffle=True, random_state=42)
news_test = fetch_20newsgroups(subset='test', shuffle=True, random_state=42)

X_train_news, y_train_news = news_train.data, news_train.target
X_test_news, y_test_news = news_test.data, news_test.target

print(f"Number of training documents: {len(X_train_news)}")
print(f"Number of test documents: {len(X_test_news)}")
print(f"Categories: {news_train.target_names}")

### Explore Sample Document

In [ ]:
# Print the first document and its class
## Write your code here

### Preprocessing: Text Vectorization Demonstration with `TfidfVectorizer`

$$
\text{TF-IDF}(t, d, D) = \text{TF}(t, d) \times \text{IDF}(t, D)
$$

Where:

$$
\text{TF}(t, d) = \frac{\text{number of word }t\text{ in } d}{\text{number of words in } d} \quad \text{ and } \quad
\text{IDF}(t, D) = \log\left(\frac{\text{total number of documents}}{\text{number of documents that contain word }t}\right).
$$

In [ ]:
sample_sentences = [
    "This is the first document.",
    "This document is the second document.",
    "And this is the third one.",
    "Is this the first document?"
]

vectorizer = TfidfVectorizer(stop_words='english')

# Fit and transform the sample sentences
sample_vec_output_sparse = # Write your code here

sample_vec_output_dense = sample_vec_output_sparse.toarray()

print(vectorizer.vocabulary_)
print(vectorizer.get_feature_names_out())
print(sample_vec_output_dense)

### **Exercise 3: Apply TF-IDF Vectorization to Full Dataset**

Now, apply `TfidfVectorizer` to the actual training and testing datasets for the 20 Newsgroups classification task.

**Instructions:**

1.  **Initialize `TfidfVectorizer`:**
    *   Initialize `TfidfVectorizer`. Use `stop_words='english'` to remove common words.
2.  **Fit and Transform Training Data:**
    *   Call `fit_transform()` on `X_train_news` to learn the vocabulary and transform the training text into TF-IDF features. Store the result in `X_train_vec`.
3.  **Transform Test Data:**
    *   Call `transform()` on `X_test_news` using the *already fitted* vectorizer. Store the result in `X_test_vec`. **Crucially, do not call `fit_transform()` on the test data!** This would cause data leakage.
4.  **Initialize Logistic Regression:**
    *   Initialize `LogisticRegression(solver='saga')`. `saga` is a good solver when both number of samples and number of features are large.
5.  **Train the Model:**
    *   Fit the model on your `X_train_vec` and `y_train_news`.
6.  **Make Predictions:**
    *   Make predictions using `predict()` on the `X_test_vec`.
7.  **Evaluate the Model:**
    *   Print `classification_report` ([Documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html)). What are the accuracy, average precision, average recall, and average f1-score?

In [ ]:
# --- YOUR CODE FOR EXERCISE 3 STARTS HERE ---